

.btn-login {
background-color: #2DD3E3!important;
margin-right: 1em;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
color: #000000 !important;
border: none !important;
}

.btn-signup {
text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
background: #FFFFFF!important;
color: #2DD3E3;
box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1)!important;
border-radius: 5px!important;
border-color: #2DD3E3 !important;

}    