.one {  
    position: absolute;
    left: 13.26%;
    right: 71.88%;
    top: 8.26%;
    bottom: 81.8%;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    letter-spacing: -0.01em;
    color: #000000;
}

.tow{
    position: absolute;
    left: 13.26%;
    right: 69.58%;
    top: 20.2%;
    bottom: 79.75%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
}

.middle{
    position: absolute;
    left: 13.26%;
    right: 10.62%;
    top: 30.24%;
    bottom: 46.25%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #424A4F;
}
.bottom{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 79.37%;
    bottom: 18.99%;
    background: #EAF8F9;
    border-radius: 0px;
    height: 60%;
    
}
.foto{
    position: absolute;
    left: 13.26%;
    right: 58.96%;
    top: 10.53%;
    bottom: 22.15%;
   
    border-radius: 6px;
    width: 400px;
    height: 320px;
}
.Founding{
    position: absolute;
    left: 44.86%;
    right: 29.93%;
    top: 10.59%;
    bottom: 41.69%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 47px;
    color: #424A4F;
}
.para{
    position: absolute;
    left: 44.86%;
    right: 10.62%;
    top: 35.36%;
    bottom: 24.21%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #424A4F;
}
.top{
    bottom: 200px;
}